{% macro input(type, label, name, maxlenght, value, placeholder, error) %}
{% set classError = error[name] is iterable ? 'has-error has-feedback' : '' %}

  <div class="form-group {{ classError }}">
    <label class="control-label" for="{{ name }}">{{ label }}</label>
    <input 
        type="{{ type|default('text') }}" 
        id="{{ name }}" 
        name="{{ name }}" 
        maxlength="{{ maxlenght|default(85) }}" 
        value="{{ value|e }}" 
        placeholder="{{ placeholder|e }}" 
        class="form-control" />
        <p class="control-label">
            {% for key, value in error[name] %}
                {{value}}
            {% endfor %}
        </p>
  </div>
{% endmacro %}

{% macro input_with_button_left(type, label, name, maxlenght, value, placeholder, buttonLabelAction, buttonLabelReset, linkReset) %}
  <div class="input-group">    
    <input 
        type="{{ type|default('text') }}" 
        id="{{ name }}" 
        name="{{ name }}" 
        maxlength="{{ maxlenght|default(85) }}" 
        value="{{ value|e }}" 
        placeholder="{{ placeholder|e }}" 
        class="form-control" />
        <span class="input-group-btn">
            <button type="submit" class="btn btn-primary">
                <i class="glyphicon glyphicon-search"></i> {{ buttonLabelAction }}
            </button>
            <a href="{{ linkReset }}" class="btn btn-info" title="{{ buttonLabelReset }}">
                <i class="glyphicon glyphicon-refresh"></i> {{ buttonLabelReset }}
            </a>            
        </span>    
  </div>
{% endmacro %}

{% macro button(label, type) %}
    {% 
        set class = {
            'primary': 'btn-primary',
            'secondary': 'btn-secondary',
            'success': 'btn-success', 
            'danger': 'btn-danger', 
            'warning': 'btn-warning',
            'info': 'btn-info',
            'light': 'btn-light',
            'dark': 'btn-dark',
            'link': 'btn-link',
        }
    %}

    {% set classSelected = class[type] ? class[type] : 'btn-primary' %}
    <button class="btn {{ classSelected }}">{{label}}</button>
{% endmacro %}

{% macro table(headers, dataObject) %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th style="width: 10%">Id</th>
                {% for key, header in headers %}                    
                    {% if key != "id" %}
                        <th style="width: 30%">{{header}}</th>
                    {% endif %}
                {% endfor %}
                <th style="width: 10%">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for object in dataObject %}
            <tr>
                <td>{{object.id}}</td>
                {% for key,header in headers %}
                <td>{{object[key]}}</td>
                {% endfor %}
                <td>
                    <a href="/clients/edit/{{object.id}}" class="btn btn-info btn-sm" title="Edit record #{{object.id}}">
                        <i class="glyphicon glyphicon-pencil"></i>
                    </a>

                    <form name="post_{{object.id}}" style="display:none;" method="post" action="/clients/delete/{{object.id}}">
                        <input type="hidden" name="_method" value="POST">
                    </form>
                                
                    <a href="#" class="btn btn-danger btn-sm" title="Excluir" onclick="if (confirm(&quot;Tem certeza que deseja excluir o registro # {{object.id}}?&quot;)) { document.post_{{object.id}}.submit(); } event.returnValue = false; return false;">
                        <i class="glyphicon glyphicon-trash"></i>
                    </a>                    
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table> 
{% endmacro %}