{% extends "/layout/default.twig" %}
{% import "/macros/form-elements.twig" as forms %}

{% block title %}Clients{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h1>Client</h1>
        </div>
    </div>
    <div class="row">        
        <div class="col-md-12">
            <form class="form" method="post"> 
                <div class="row">
                    <div class="col-md-12">
                        {% if success is not empty %}
                        <div class="alert alert-success" role="alert">
                            {{success}}
                        </div>
                        {% endif %}
                        {% if error is not empty %}
                        <div class="alert alert-danger" role="alert">
                            {{error}}
                        </div>                        
                        {% endif %}
                    </div>
                </div>
                <div class="row">        
                    <div class="col-md-6">                
                        {{ forms.input('text', 'Name', 'name', '85', client.get('name'), 'Put your name here!', fieldsErros) }}
                    </div>
                    <div class="col-md-6">                
                        {{ forms.input('text', 'Phone', 'phone', '15', client.get('phone'), 'Put your phone here!', fieldsErros) }}
                    </div>                    
                </div>
                <div class="row">
                    <div class="col-md-12">  
                        <br />
                        {{ forms.button('Add new Client', 'primary') }}
                    </div>                    
                </div>
            </form>        
        </div>            
    </div>
</div>
{% endblock %}